/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  color: #2f4f4f;
}

img {
  width: 650px;
}

#income {
  width: 500px;
  margin-right: 50px;
  margin-left: 150px;
  padding: 60px 80px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.error {
  color: red;
  display: none;
}

@media only screen and (max-width: 688px) {
  img {
    width: 340px;
  }
  #income {
    width: 300px;
    margin: 20px;
    padding: 50px 20px;
  }
  .expenses {
    flex-direction: row;
  }
}
