/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  color: #2f4f4f;
}

img {
  width: 700px;
}

#income {
  width: 500px;
  background-color: #f8f8f8;
}

.error {
  color: red;
  display: none;
}
